<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998177494075-o6l569c8jolvnr8la9sctg8oflfj8cc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998177494075-o6l569c8jolvnr8la9sctg8oflfj8cc0</string>
	<key>API_KEY</key>
	<string>AIzaSyC_8GGz27I0aofH66t32veF8m-Maapjm8E</string>
	<key>GCM_SENDER_ID</key>
	<string>998177494075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MrYC</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-be406</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-be406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998177494075:ios:33a981f77ca0ff53b1381e</string>
	<key>DATABASE_URL</key>
	<string>https://flashchatios13-be406.firebaseio.com</string>
</dict>
</plist>